.col-md-10.col-md-offset-1.users
  %h1
    = gravatar_for user
    = user.fullname
  - if current_user == user
    %a{ href: "http://gravatar.com/emails", target: "_blank" } change picture
  %h4= user.mail
  %p= user.last_login

  .text-center
    .btn-group{ role: "group" }
      %button.btn.btn-lg.btn-default.user-reviews-btn.active{ type: "button" } Reviews
      %button.btn.btn-lg.btn-default.user-products-btn{ type: "button" } Products


  .user-products.hidden
    - if user.products.any?
      %table.table.table-striped
        %th Title
        %th Caregory
        %th Average rating
        %th Price
        = render partial: 'products/product', collection: products
    - else
      %h3.mid User doesn't have any products

  .user-reviews
    - if user.reviews.any?
      = render partial: 'reviews/review'
      = will_paginate reviews, renderer: BootstrapPagination::Rails
    - else
      %h3.mid User doesn't have any reviews

