%h1 Listing categories

%table.table.categories

  - categories.each do |category|
    %tr
      %td= link_to category.name, category, class: 'category-name'
      %td
        - if current_user && current_user.admin?
          = button_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            %i.fa.fa-trash
            Destroy
          = button_to edit_category_path(category), class: 'btn btn-info', method: :get do
            %i.fa.fa-pencil
            Edit

        = button_to category, class: 'btn btn-default', method: :get do
          %i.fa.fa-eye
          Show
%br

- if current_user && current_user.admin?
  = button_to new_category_path, class: 'btn btn-success pull-right', method: :get do
    %i.fa.fa-plus-circle
    New Category
