.categories
  %h2.mid
    %b.category-name= category.name

  %table.table.table-striped
    %th Title
    %th
      .pull-right Average rating
    %th
      .pull-right Price
    - category.products.each do |product|
      %tr
        %td= link_to product.title, category_product_path(category, product)
        %td
          - (5 - product.average_rating.to_i).times do
            %i.fa.fa-star-o.pull-right
          - product.average_rating.to_i.times do
            %i.fa.fa-star.pull-right
        %td
          .pull-right= number_to_currency(product.price)

  - if user_signed_in?
    .panel.panel-default= render 'products/form'

  - if user_signed_in? && current_user.admin?
    = button_to edit_category_path(category), class: 'btn btn-info', method: :get do
      %i.fa.fa-pencil
      Edit

  = button_to categories_path, class: 'btn btn-primary', method: :get do
    %i.fa.fa-long-arrow-left
    Back to all categories
