%h2.mid Listing products

%table.products

  - products.each do |product|
    %tr
      %td= link_to product.title, category_product_path(product.category, product)
      %td= product.description
      %td= number_to_currency(product.price)
      %td
        = button_to category_product_path(product.category, product), method: :get, class: 'btn btn-default' do
          %i.fa.fa-eye
          Show

        - if user_signed_in? && product.user == current_user
          = button_to edit_category_product_path(product.category, product), method: :get, class: 'btn btn-info' do
            %i.fa.fa-pencil
            Edit

          = button_to category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
            %i.fa.fa-trash
            Delete
