%h2.mid
  = product.title
.col-md-10.col-md-offset-1.products
  %p
    = product.description

  %p
    Added by:
    = link_to user.fullname, user_path(user)
  %p
    %b Category:
    %span= link_to product.category.name, category
  %p
    %b Price:
    = number_to_currency(product.price)

  - if product.reviews.any?
    %h3.mid Reviews
  = render partial: 'reviews/reviews'

  - if user_signed_in?
    = render 'reviews/form'

  - if user_signed_in? && current_user == product.user
    = button_to edit_category_product_path(category.id, product.id), class: 'btn btn-info', method: :get do
      %i.fa.fa-pencil
      Edit

  = button_to category_path(product.category), class: 'btn btn-primary', method: :get do
    %i.fa.fa-long-arrow-left
    Back to
    = product.category.name
