%h2.mid
  = product.title
.col-md-10.col-md-offset-1.products
  %p
    = product.description
  %p
    %b Price:
    = number_to_currency(product.price)

  %p
    %b Category:
    %br
    %span.category-name= link_to product.category.name, category

  - if product.reviews.any?
    %h3.mid Reviews

  = render reviews

  = render 'reviews/form'

  - if current_user && current_user == product.user
    = button_to edit_category_product_path(category.id, product.id), class: 'btn btn-info', method: :get do
      %i.fa.fa-pencil
      Edit

  = button_to category_path(product.category), class: 'btn btn-primary', method: :get do
    %i.fa.fa-long-arrow-left
    Back to
    = product.category.name
